@model Pigg.Model.CustomPage
@{
    ViewBag.Title = "Delete";
}
<h2>
    Delete</h2>
<h3>
    Are you sure you want to delete this?</h3>
@Html.DisplayForModel()
@using (Html.BeginForm())
{ 
    <p>
        <input type="submit" value="Delete" />
    </p>
} 