@model System.String
<script src="@Url.Content("~/ckeditor/ckeditor.js")" type="text/javascript" ></script>
<div class="editor-label">
    @Html.LabelFor(model => model)
</div>
<div class="editor-field">
    @Html.TextAreaFor(model => model, new { @class = "ckeditor" })
    @Html.ValidationMessageFor(model => model)
</div>
